/* Estilos para el encabezado */
header {
  background-image:url("Banner\ grande.webp");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #333;
  color: white;
  padding: 30px; /*añadimos un espacio de 10px de padding arriba y abajo y 20px a la izquierda y derecha*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Estilos para los enlaces de navegación */
nav a {
  color: rgb(11, 11, 11);
  text-decoration: none;
  margin-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos para el botón */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilos para la sección de introducción */
#introduccion {
  background-color: #f2f2f2;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Estilos para la sección de personajes */
#personajes {
  background-color: #fff;
  padding: 20px;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

/* Estilos para los párrafos */
p {
  color: #008170;
}
#gigante{ color: #4CAF50;}
#leñador {color: aqua;}
#principeoscuro {color: #000000;}
/* Estilos para las imágenes */
img {
  display: block;
  margin: auto;
}

/* Estilos para los títulos */
h2, h3 {
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

/* Estilos para los contenedores */
div {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
